:root{
    background-color: black;
    overflow: hidden;
}
header{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    padding: 0.5rem;    
    height: 80px;
    border: 1px solid white;
}
.Titulo{
    position: relative;
    left: 1rem;
    grid-column: 1/3;
}
.div-ttareas{
    max-width: 2.5rem;
    border-radius: 15px;
    height: 70%;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 7;
}
.div-Logo-Usuario{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    color: white;
    grid-column: 9;
}
.Titulo{
    color: white;
}

.logo-usuario{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    grid-column: 8;
    position: relative;
    left: 2rem;
    top: 0.5rem;
}
.div-Usuario{
    color: white;
    grid-column: 8;
    position: relative;
    top: -190%;
    left: 8rem;
}
.div-pendientes{
    color: white;
    grid-column: 5/7;
    position: relative;
    top: -190%;
    left: 10rem;


}